.pagination {
  margin-top: 20px;
}

.pagination-controls {
  display: flex;
}

.pagination-controls__button {
  background-color: white;
  border-radius: 0.15em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  cursor: default;
  margin: 0 0.25em;
  padding: 0.5em 0.75em;
  cursor: pointer;
  
  &:first-child {
    margin-left: 0;
  }
  
  &:last-child {
    margin-right: 0;
  }
  
  &:hover:not(:active) {
    transition: transform 0.15s;
    transform: translateY(-1px);
  }
}

.pagination-controls__button--active {
  background-color: #787878;
  color: white;
  
  &:hover,
  &:hover:not(:active) {
    transform: none;
  }
}
