.shipments-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px;
  grid-gap: 10px;
}

@media (max-width: 850px) {
  .shipments-container {
    display: block;
  }
}
